.no-padding {
    padding: 0 !important;
}

.arrow-right {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid rgba(0,0,0,.87);
}

.arrow-left {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right:10px solid rgba(0,0,0,.87);
}

.group {
    background-color: #767676 !important;
    text-align: center;
    border: 1px solid black;
}